<section class="section jss35">
    <div class="jss74">
        <div class="MuiGrid-root section-header jss43 MuiGrid-container MuiGrid-spacing-xs-2 aos-init aos-animate"
            data-aos="fade-up">
            <div class="MuiGrid-root section-header__title-wrapper MuiGrid-item MuiGrid-grid-xs-12">
                <h4
                    class="MuiTypography-root section-header__title jss45 MuiTypography-h4 MuiTypography-colorTextPrimary MuiTypography-alignCenter">
                    Featured products</h4>
            </div>
            <div class="MuiGrid-root section-header__subtitle-wrapper MuiGrid-item MuiGrid-grid-xs-12">
                <h6
                    class="MuiTypography-root section-header__subtitle MuiTypography-h6 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                    After 3 days all of your offers will arrive and you will have another 7 days to select your new
                    company.</h6>
            </div>
        </div>
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Music player"
                                src="/images/photos/ecommerce/product1.png"
                                srcset="/images/photos/ecommerce/product1@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss267 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Music
                            player</h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$320</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Headphones"
                                src="/images/photos/ecommerce/product2.png"
                                srcset="/images/photos/ecommerce/product2@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss268 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Headphones
                        </h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="far fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$120</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Wireless headpohones"
                                src="/images/photos/ecommerce/product3.png"
                                srcset="/images/photos/ecommerce/product3@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss269 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Wireless
                            headpohones</h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$290</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Bluetooth headphones"
                                src="/images/photos/ecommerce/product4.png"
                                srcset="/images/photos/ecommerce/product4@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss270 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Bluetooth
                            headphones</h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="far fa-star jss82" aria-hidden="true"></i><i
                                class="far fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$140</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Headphones"
                                src="/images/photos/ecommerce/product5.png"
                                srcset="/images/photos/ecommerce/product5@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss271 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Headphones
                        </h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$170</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 aos-init aos-animate"
                data-aos="fade-up">
                <div class="MuiPaper-root MuiCard-root jss75 MuiPaper-elevation1 MuiPaper-rounded">
                    <div class="MuiCardMedia-root jss76"><span
                            class=" lazy-load-image-background opacity lazy-load-image-loaded"
                            style="color: transparent; display: inline-block; height: 100%; width: 100%;"><img
                                class="image jss21 jss22 jss78" alt="Music player"
                                src="/images/photos/ecommerce/product6.png"
                                srcset="/images/photos/ecommerce/product6@2x.png 2x" width="100%" height="100%"></span>
                        <div class="jss80">
                            <div
                                class="MuiAvatar-root MuiAvatar-circle icon-alternate jss84 jss86 jss89 jss272 MuiAvatar-colorDefault">
                                <i class="icon jss92 far fa-heart jss94 icon-alternate__icon"
                                    style="color: rgb(255, 235, 59);" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="MuiCardContent-root jss77">
                        <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorTextPrimary">Music
                            player</h6>
                        <div class="jss81"><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="fas fa-star jss82" aria-hidden="true"></i><i class="fas fa-star jss82"
                                aria-hidden="true"></i><i class="fas fa-star jss82" aria-hidden="true"></i><i
                                class="far fa-star jss82" aria-hidden="true"></i></div>
                        <div class="jss83">
                            <h6 class="MuiTypography-root jss79 MuiTypography-h6 MuiTypography-colorPrimary">$300</h6>
                            <button
                                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary"
                                tabindex="0" type="button"><span class="MuiButton-label">Add to card</span><span
                                    class="MuiTouchRipple-root"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12 aos-init aos-animate"
                data-aos="fade-up"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary" tabindex="0"
                    type="button"><span class="MuiButton-label">See all list</span><span
                        class="MuiTouchRipple-root"></span></button></div>
        </div>
    </div>
</section>